<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="resource-type" content="document" />
    <meta http-equiv="content-type" content="text/html; charset=US-ASCII" />
    <meta http-equiv="content-language" content="en-us" />
    <meta name="author" content="Ruby Mechanize" />
    <meta name="contact" content="fillgovtforms@gmail.com" />
    <meta name="robots" content="index,follow">
    <% if @one_page_post["title=0"] %>
      <% keywords = @one_page_post["title=0"].gsub(/[^a-zA-Z]/, ',').gsub(/,/, ' ').gsub(/\s+/, ', ') %>
      <% title = @one_page_post["title=0"] %>
    <% else %>
      <% keywords = @one_page_post["title=1"].gsub(/[^a-zA-Z]/, ',').gsub(/,/, ' ').gsub(/\s+/, ', ') %>
      <% title = @one_page_post["title=1"] %>
    <% end %>
    <title>Latest Govt Jobs, <%= @permalink.upcase %>, <%= title %></title>
    <meta name="description" content="Latest Govt Jobs <%= @permalink.upcase %> <%= title %>" />
    <meta name="keywords" content="latest govt jobs, govt jobs 2016, india govt jobs, delhi govt jobs, govt bank jobs, government jobs, <%= @permalink %>, <%= keywords %>" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="<%= title %>">
    <meta itemprop="description" content="<%= title %>">
    <meta itemprop="image" content="https://avatars0.githubusercontent.com/u/15667394?v=3&s=200">

    <!-- for Facebook -->          
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/15667394?v=3&s=200" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description" content="<%= title %>" />
    <meta property="og:site_name" content="Latest Govt Jobs India" />
    <meta property="fb:admin" content="568492963307216" /> 

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name=”twitter:url” content="<%= request.url %>" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= title %>" />
    <meta name="twitter:creator" content="@rithmverma">
    <meta name="twitter:image" content="https://avatars0.githubusercontent.com/u/15667394?v=3&s=200" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
      /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
      .row.content {height: 1500px}
      .navbar {
      margin-bottom: 0;
      border-radius: 0;
      }
      /* Set gray background color and 100% height */
      .sidenav {
      background-color: #f1f1f1;
      height: 149%;
      }
      /* Set black background color, white text and some padding */
      footer {
      background-color: #101010;
      color: white;
      padding: 15px;
      }
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
      .sidenav {
      height: auto;
      padding: 15px;
      }
      .row.content {height: auto;} 
      }
    </style>
  </head>
  <body>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57a2f8cc3a3e02fb"></script>
    <div class="container-fluid">
      <div class="row content">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button data-target="#myNavbar" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
              </button>
              <a href="<%= root_url %>" class="navbar-brand">Latest Govt Jobs</a>
            </div>
            <div id="myNavbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="col-sm-3 sidenav">
          <h4><b>STATE WISE JOBS</b></h4>          
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Job..">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
          </div>
          <br> -->
          <ul class="nav nav-pills nav-stacked">
            <!-- <li class="active"><a href="#section1">Andaman & Nicobar</a></li> -->
            <li><a href="/states/andaman-nicobar/">Andaman & Nicobar</a></li>
            <li><a href="/states/jobs-in-andhra-pradesh/">Andhra Pradesh</a></li>
            <li><a href="/states/jobs-in-arunachal-pradesh/">Arunachal Pradesh</a></li>
            <li><a href="/states/jobs-in-assam/">Assam</a></li>
            <li><a href="/states/jobs-in-bihar/">Bihar</a></li>
            <li><a href="/states/chandigarh/">Chandigarh</a></li>
            <li><a href="/states/jobs-in-chhattisgarh/">Chhattisgarh</a></li>
            <li><a href="/states/dadra-nagar-haveli/">Dadra & Nagar Haveli</a></li>
            <li><a href="/states/daman-diu/">Daman & Diu</a></li>
            <li><a href="/states/jobs-in-delhi/">Delhi</a></li>
            <li><a href="/states/jobs-in-goa/">Goa</a></li>
            <li><a href="/states/jobs-in-gujarat/">Gujarat</a></li>
            <li><a href="/states/jobs-in-haryana/">Haryana</a></li>
            <li><a href="/states/jobs-in-himachal-pradesh/">Himachal Pradesh</a></li>
            <li><a href="/states/jobs-in-jammu-and-kashmir/">Jammu & Kashmir</a></li>
            <li><a href="/states/jobs-in-jharkhand/">Jharkhand</a></li>
            <li><a href="/states/jobs-in-karnataka/">Karnataka</a></li>
            <li><a href="/states/jobs-in-kerala/">Kerala</a></li>
            <li><a href="/states/lakshadweep/">Lakshadweep</a></li>
            <li><a href="/states/jobs-in-mp-madhya-pradesh/">Madhya Pradesh</a></li>
            <li><a href="/states/jobs-in-maharashtra/">Maharashtra</a></li>
            <li><a href="/states/jobs-in-manipur/">Manipur</a></li>
            <li><a href="/states/jobs-in-meghalaya/">Meghalaya</a></li>
            <li><a href="/states/jobs-in-mizoram/">Mizoram</a></li>
            <li><a href="/states/jobs-in-nagaland/">Nagaland</a></li>
            <li><a href="/states/jobs-in-orissa/">Orissa</a></li>
            <li><a href="/states/puducherry/">Puducherry</a></li>
            <li><a href="/states/jobs-in-punjab/">Punjab</a></li>
            <li><a href="/states/jobs-in-rajasthan/">Rajasthan</a></li>
            <li><a href="/states/jobs-in-sikkim/">Sikkim</a></li>
            <li><a href="/states/jobs-in-tamilnadu/">Tamil Nadu</a></li>
            <li><a href="/states/telangana/">Telangana</a></li>
            <li><a href="/states/jobs-in-tripura/">Tripura</a></li>
            <li><a href="/states/jobs-in-uttar-pradesh/">Uttar Pradesh</a></li>
            <li><a href="/states/jobs-in-uttarakhand/">Uttarakhand</a></li>
            <li><a href="/states/jobs-in-west-bengal/">West Bengal</a></li>            
          </ul>          
        </div>
        <div class="col-sm-9 content_cls">
          <h4><small><b style="color:#800080;">LATEST GOVT JOBS | <%= @permalink.upcase %></b></small></h4>
          <hr>
          <% indx = 0 %>
          <% @one_page_post.each do |key,value| %>
          <% if !@one_page_post["title=#{indx}"].nil? %>
          <h4><a href="/latest-govt-jobs/<%=@one_page_post["permalink=#{indx}"]%>"><%= @one_page_post["title=#{indx}"] %></a></h4>
          <h5>
            <span class="label label-warning">LATEST</span>
            <span class="label label-success">GOVERNMENT</span>
            <span class="label label-info">JOBS</span>
            <!-- <span class="label label-default">Default Label</span>
              <span class="label label-primary">Primary Label</span>
              <span class="label label-danger">Danger Label</span> -->
            <span class="glyphicon glyphicon-time"></span> Post by Mechanize, <%= @one_page_post["time=#{indx}"].squish %>  
          </h5>
          <br>
          <p><%= @one_page_post["content=#{indx}"].gsub(" ...Read More", "") %>, <%= @one_page_post["title=#{indx}"] %></p>
          <br>
          <% indx = indx.to_i + 1 %>
          <% else %>
          <% indx = indx.to_i + 1 %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <footer class="container-fluid">
      <p class="text-center">@Latest Govt Jobs</p>
      <script>
        //$('document').ready(function() {
          //$('.sidenav').css({'height': $('.content_cls').innerHeight()});
        //});
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-81943032-1', 'auto');
        ga('send', 'pageview');
      </script>
    </footer>
  </body>
</html>
